.contacts{
    padding-top: 40px;
    background: url('../img/contacts_bg.png');
    background-size: cover;
    color: white;
}
.contacts__contacts__header_span{
    padding-bottom: 5px;
    border-bottom: 2px solid #1383d7;
}
.contacts__contacts {
    font-size: 18px;
}
.contacts__contacts__row{
    margin-top: 80px;
}
.contacts__contacts i{
    margin-right: 20px;
    font-size: 30px;
}