.header {
    background: url("../img/background1.jpg") center;
    color: white;
}

.header_center {
    text-align: center;
}

.header__name_padding {
    padding-left: 0px;
    display:inline;
    font-size: 32px;
}

.header__name_padding_colored {
    padding-left: 0px;
    color: #1383d7;
    display:inline;
    font-size: 32px;
}


.header__number_margin {
    margin-bottom: 0;
}

.header__hello {
    text-align: center;
    margin: 30px 0;
}

.main__hello_border {
    border-bottom: 4px solid #1383d7;
}

.fiches {
    margin: 50px 0;

}

.fiches__text {
    margin: 13px 0 0 20px;
}

.main__functions {
    padding-top: 20px;
    background: #f7f7f7;
}

.main__functions__left-col {
    padding: 10px;
}

.main__functions__font_color_center {
    text-align: center;
    color: #1383d7;
}

.main__functions__text_border {
    border-bottom: 3px solid #1383d7;
}

.main__functions__li {
    border-top: 3px solid #1383d7;
    padding-top: 10px;
    font-size: 12px;
}

.success__numbers {
    background: url("../img/success_numbers.jpg") center;
}

.success__numbers__tree-tops {
    margin-top: 100px;
}

.success__numbers__one-top {
    padding: 10px;
    height: 150px;
}

.success__numbers__header {
    text-align: center;
}

.success__numbers__border {
    border-top: 2px solid #1383d7;
    margin-bottom: 10px;
}

.success__numbers__info {

}

.success__numbers_center {
    text-align: center;
}

.success__numbers__text {

}

.success__numbers__one-top__center {
    padding: 10px;
    border: 2px solid #1383d7;
}

.success__numbers__button {
    margin-top: 20px;
}

.team {
    padding: 30px 0;
    text-align: center;
    background: #f3f3f3;
}

.team__header {
    text-align: center;
}

.team__header_border {
    border-bottom: 2px solid #1383d7;
}

.cards {
    margin-top: 20px;
}

.cards__img_circle {
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

.cards__position {
    padding-top: 10px;
    border-top: 2px solid #1383d7;
}

.askform{
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-bottom: 40px;
}

.askform__input_black{
    color: black;
}

.textarea_resize {
    resize: none;
}

.main{
    background-color: #f3f3f3;
}

.andfunctions{
    text-align: center;
}

.fiches__icon{
    margin-top: 13px;
}

.fiches__margin{
    margin-bottom: 0;
}


