.header {
    background: url("./img/background1.jpg") center;
    color: #bab4aa;
}

.header__name_left {
    text-align: left;
}

.header__name_right {
    text-align: right;
}

.header__name_padding {
    padding-left: 10px;
}

.header__hello {
    text-align: center;
    margin: 30px 0;
}

.main__hello_border {
    border-bottom: 4px solid #1383d7;
}

.fiches {
    margin: 20px 0;
}

.fiches__text {
    margin: 13px 0 0 20px;
}