.title{
    border-bottom: 2px solid #176ac6;
    text-align: center;

}

.img-vocation{
    width: 100%;

}

.vocation-background{
    background-color: #f7f7f7;
}

.vocation-left{
    padding-top: 70px;
}