.title{
    border-bottom: 2px solid #176ac6;
    text-align: center;

}

.img-vocation{
    width: 100%;

}

.vocation-background{
    padding-top: 20px;
    background-color: #f7f7f7;
}

.vocation-left{
    padding-top: 70px;
}

.vocation_padding {
    padding-top: 10px;
}

.footer{
    font-size: 10px;
    color: white;
    background-color: #333333;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 40px;
}

.map{
    width: 100%;
}