<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Юристы</title>
    <link rel="stylesheet" href="../static/css/lib/normalize.css">
    <link rel="stylesheet" href="../static/css/lib/skeleton.css">
    <link rel="stylesheet" href="../static/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/fourth_screen.css">
</head>
<body>
<header class="header">
    <div class="row">
        <div class="six columns">
            <h3 class="header__name_padding header__name_left ">
                Название конторы
            </h3>
        </div>
        <h3 class="six columns header__name_right">
            8(918)123-45-67
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve column">
                <h3 class="header__hello main__hello_border">
                    ПОЛУЧИТЕ КАЧЕСТВЕННУЮ ПРАВОВУЮ ПОМОЩЬ
                </h3>
                <h4 class="header__hello">
                    в день обращения
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Полная конфиденциальность
                    </div>
                </div>
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Огромный багаж выигранных дел
                    </div>
                </div>
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Гарантия качества услуг
                    </div>
                </div>
            </div>
            <div class="six columns">
                <form action="#">
                    <div class="row">
                        <label for="name_input">Имя</label>
                        <input class="u-full-width" type="text" placeholder="Ваше имя" id="name_input">
                        <label for="question_input">Вопрос</label>
                        <input class="u-full-width" type="text" placeholder="Ваш вопрос" id="question_input">

                        <input class="u-full-width button-primary" type="submit" value="получить консультацию">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="main__functions">
        <div class="row">
            <div class="container">
                <div class="one column main__functions__left-col  main__functions__font_color">
                    <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
                </div>
                <div class="three columns">
                    <p class="main__functions__text main__functions__text_border">
                        Правовое сопровождение сделок
                    </p>
                    <ul class="main__functions__li">
                        <li>
                            Составление правовых документов
                            и анализа ситуации
                        </li>
                        <li>
                            Проверка чистоты сделки
                        </li>
                    </ul>
                </div>
                <div class="one column main__functions__left-col main__functions__font_color">
                    <i class="fa fa-gavel fa-4x" aria-hidden="true"></i>
                </div>
                <div class="three columns">
                    <div>
                        <p class="main__functions__text main__functions__text_border">
                            Судебно-претензионная деятельность
                        </p>
                        <ul class="main__functions__li">
                            <li>
                                Досудебное регулирование спора
                            </li>
                            <li>
                                Представительство интересов
                                на любой стадии судопроизводства
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="one column main__functions__left-col main__functions__font_color">
                    <i class="fa fa-commenting fa-4x" aria-hidden="true"></i>
                </div>
                <div class="three columns">
                    <p class="main__functions__text main__functions__text_border">
                        Консультации
                    </p>
                    <ul class="main__functions__li">
                        <li>
                            Консультирование по различным
                            правовым вопросам
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class = "services">
        <div class = "container">
            <div class = "row">
                <h4 align="center">
                    <span class = "services__header_span">
                        УСЛУГИ
                    </span>
                </h4>
            </div>
            <div class = "row">
                <div class = "seven columns services__img_div">
                    <img class = "services__img_div__img" src="../static/css/img/uslugs_firstphoto.png">
                </div>
                <div class = "five columns">
                    <h4>
                        АВТОЮРИСТ
                    </h4>
                    <p>
                       <span class="services__describe_list__p_span">●</span>Споры со страховой компанией
                            (в т.ч. в суде).
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span> Избежание затягивания сроков согласования
                            ремонта автомобиля на сервисной станции (КАСКО)
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Содействие в получении страхового возмещения при банкротстве страховой организации
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Обжалование занижения выплаченного страхового возмещения
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Обжалование постановлений ГИБДД.
                    </p>
                    <button class = "services__CTA_button">
                        <img class = "services__CTA_button__img" src="../static/css/img/uslugs_button.png">
                    </button>
                </div>
            </div>
            <div class = "row">
                <div class = "six columns">
                    <h4>
                        АВТОЮРИСТ
                    </h4>
                    <p>
                      <span class="services__describe_list__p_span">●</span> Споры со страховой компанией
                            (в т.ч. в суде).
                    </p>
                    <p>
                         <span class="services__describe_list__p_span">●</span>Избежание затягивания сроков согласования
                            ремонта автомобиля на сервисной станции (КАСКО)
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Содействие в получении страхового возмещения при банкротстве страховой организации
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Обжалование занижения выплаченного страхового возмещения
                    </p>
                    <p>
                        <span class="services__describe_list__p_span">●</span>Обжалование постановлений ГИБДД.
                    </p>
                    <button class = "services__CTA_button">
                        <img class = "services__CTA_button__img" src="../static/css/img/uslugs_button.png">
                    </button>
                </div>
                <div class = "six columns">
                    <div class = "six columns services__img_div">
                        <img class = "services__img_div__img" src="../static/css/img/uslugs_ded.png">
                    </div>
                </div>
            </div>
         </div>
    </div>

</main>

<footer></footer>
</body>
</html>