<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Юристы</title>
    <link rel="stylesheet" href="../static/css/lib/normalize.css">
    <link rel="stylesheet" href="../static/css/lib/skeleton.css">
    <link rel="stylesheet" href="../static/css/lib/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header class="header">
    <div class="row">
        <div class="six columns">
            <h3 class="header__name_padding header__name_left ">
                Название конторы
            </h3>
        </div>
        <h3 class="six columns header__name_right">
            8(918)123-45-67
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve column">
                <h3 class="header__hello main__hello_border">
                    ПОЛУЧИТЕ КАЧЕСТВЕННУЮ ПРАВОВУЮ ПОМОЩЬ
                </h3>
                <h4 class="header__hello">
                    в день обращения
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-shield fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Полная конфиденциальность
                    </div>
                </div>
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Огромный багаж выигранных дел
                    </div>
                </div>
                <div class="row fiches">
                    <div class="u-pull-left">
                        <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="u-pull-left fiches__text">
                        Гарантия качества услуг
                    </div>
                </div>
            </div>
            <div class="six columns">
                <form action="#">
                    <div class="row">
                        <label for="name_input">Имя</label>
                        <input class="u-full-width" type="text" placeholder="Ваше имя" id="name_input">
                        <label for="question_input">Вопрос</label>
                        <input class="u-full-width" type="text" placeholder="Ваш вопрос" id="question_input">

                        <input class="u-full-width button-primary" type="submit" value="получить консультацию">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="main__functions">
        <div class="row">
            <div class="container">
                <div class="one column">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </div>
                <div class="three columns">
                    <div class="u-pull-left">
                        Правовое сопровождение сделок
                    </div>
                </div>
                <div class="one column">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                </div>
                <div class="three columns">
                    <div class="u-pull-left">
                        Судебно-претензионная деятельность
                    </div>
                </div>
                <div class="one column">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                </div>
                <div class="three columns">
                    <div>
                        Консультации
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        danek ahuennii
    </div>
</main>
<footer></footer>
</body>
</html>