<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Юристы</title>
    <link rel="stylesheet" href="../static/css/lib/normalize.css">
    <link rel="stylesheet" href="../static/css/lib/skeleton.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<header></header>
<main class="main">
    <div class="row">
        заголовок
    </div>
    <div class="container">
        <div class="row">
            <div class="twelve column" style="text-align: center">
                качественная информация
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="six columns">
                особенности
            </div>
            <div class="offset-by-six six columns">
                заявка
            </div>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>